@use "./tokens" as *;

.wizard {
    .wizard-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: opacity $motion-base, transform $motion-base;

        .wizard-btn {
            display: inline-block;
            margin: 0 10px;
            padding: 0.375rem 0.75rem;
            border: 1px solid transparent;
            border-radius: 0.15rem;
            background-color: $color-active;
            color: $white;
            font-weight: 400;
            line-height: 1.5;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            transition: background-color $motion-base, opacity $motion-base;

            &:hover {
                background-color: rgba($color-active, 0.8);
            }

            &:disabled {
                cursor: not-allowed !important;
                pointer-events: none;
                opacity: 0.65;
            }
        }
    }
}
