$white: #ffffff;
$black: #000000;

$color-done: #19d184;
$color-default: $white;
$color-border: #dee2e6;
$color-error: tomato;
$color-active: #198fd1;

$motion-fast: 0.2s ease-in;
$motion-base: 0.3s ease-in;
$motion-slow: 0.5s ease-in-out;
